@import "tailwindcss";

/* Navigation Button Style */

.swiper-button-next,
.swiper-button-prev {
  width: 38px !important;
  height: 38px !important;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #f97316;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.swiper-button-next svg,
.swiper-button-prev svg{
  width: 15px !important;
  height: 15px !important;
  color: black;
  font-weight: 500 !important;
}

.swiper-button-next{
    right: -52px !important;
}

.swiper-button-prev{
    left: -52px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
  font-weight: bold;
  color: #f97316; /* Tailwind orange-500 */
}